body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arail", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.site-wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("img/slide-2.png");
}

.site-wrapper::after {
  background-image: url("img/slide-3.png");
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-header {
  padding-top: 9px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  outline: 2px solid red;
}

.navigation-container {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-container a {
  margin-left: 32px;
  color: #ffffff;
  border-bottom: 2px solid #a1b6aa;
}

.user-container {
  display: flex;
  margin-right: 0;
}

.site-navigation {
  display: none;
}

.user-search {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-search a {
  color: #ffffff;
  background-color: #a1b5a9;
}

.user-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-navigation a {
  margin-left: 10px;
  color: #ffffff;
  background-color: #a1b5a9;
}

.user-cart {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-cart a {
  margin-left: 10px;
  color: #ffffff;
  background-color: #a1b5a9;
}

.info-navigation {
  width: 267px;
  margin-left: auto;
  color: #ffffff;
  outline: 2px solid red;
}

.slider {
  position: relative;
  padding-top: 321px;
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 900;
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 10;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png");
}
