body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arail", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.site-wrapper {
  width: 1200px;
  margin: 0 auto;
  /*padding: 0 27px;*/
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper-inner {
  width: 1200px;
  margin: 0 auto;
  background-color: #849d8f;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("img/slide-2.png");
}

.site-wrapper::after {
  background-image: url("img/slide-3.png");
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-header {
  padding: 0 27px;
  padding-top: 9px;
}

.main-header-logo {
  margin-right: 12px;
}

.main-navigation {
  display: flex;
  outline: 2px solid red;
}

.navigation-container {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  outline: 2px solid red;
}

.navigation-container li {
  margin-right: 2px;
  padding: 6px 13px;
}

.navigation-container li:last-child {
  margin-right: 0px;
}

.navigation-container a {
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.navigation-container > li:hover {
  background-color: #ffffff;
  border-radius: 15px;
}

.navigation-container > li:hover a {
  color: #000000;
}

.navigation-container > li:active {
  box-shadow:0px 2px 2px 1px rgba(105,105,105,1)inset;
}

.navigation-catalog {
  position: relative;
}

.site-navigation {
  min-width: 144px;
  display: none;
  position: absolute;
  top: 37px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  border-radius: 5px;
}

.site-navigation a {
  padding: 10px 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #000000;
}

.site-navigation li:first-child {
  border-radius: 5px 5px 0 0;
}

.site-navigation li:last-child {
  border-radius: 0 0 5px 5px;
}

.site-navigation li:hover {
  background-color: #fbded7;
}

.site-navigation li:active {
  background-color: #f6b5a5;
}

.news {
  position: relative;
}

.news::after {
  position: absolute;
  content: "";
  top: 32px;
  left: 5px;
  width: 128px;
  height: 1px;
  background-color: #d1d0ce;
}

.news a {
  font-weight: 700;
}

.navigation-catalog:hover .site-navigation {
  display: block;
}

.user-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: auto;
  outline: 2px solid green;
}

.user-search {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-search li {
  display:flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  width: 33px;
  height: 33px;
  box-sizing: border-box;
  background-color: #a1b5a9;
  border-radius: 50%;
}

.user-search a {
  color: #ffffff;
}

.user-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-navigation li {
  padding: 5px 15px 7px 43px;
  margin-left: 10px;
  background-color: #a1b5a9;
  border-radius: 15px;
}

.user-navigation a {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.user-cart {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-cart li {
  padding: 5px 34px 7px 45px;
  margin-left: 10px;
  background-color: #a1b5a9;
  border-radius: 15px;
}

.user-cart a {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.info-navigation {
  width: 267px;
  margin-top: -5px;
  margin-left: auto;
  color: #ffffff;
}

.info-navigation p {
  margin: 0;
}

.operating-time {
  padding-bottom: 3px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-align: right;
}

.contact-phone {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  text-align: right;
}

.slider {
  position: relative;
  padding-top: 276px;
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 27px;
  z-index: 10;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png");
}

.slide-button {
  margin-bottom: 40px;
  padding: 10px 39px 10px 41px;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
}

.suggestions {
  display: flex;
  justify-content: space-between;
  padding: 0 27px;
  margin-bottom: 40px;
  color: #ffffff;
}

.suggestions-item {
  display: flex;
  flex-direction: column;
  padding: 16px 20px 23px 20px;
}

.suggestions-item p {
  margin: 0;
}

.sug-one {
  width: 560px;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #9d1a35;
  background-image: url("../img/raspberry-bg.jpg");
}

.sug-two {
  width: 560px;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #462d22;
  background-image: url("../img/choco-bg.jpg");
}

.suggestions-title {
  padding-bottom: 15px;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}
.suggestions-info {
  padding-bottom: 45px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.suggestions-button {
  align-self: flex-end;
  padding: 10px 22px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.popular-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 27px;
  list-style: none;
  color: #ffffff;
  outline: 2px solid red;
}

.popular-item {
  position: relative;
  margin-left: 26px;
  margin-bottom: 35px;
}

.popular-item:first-child {
  margin-left: 0;
}

.popular-item img {
  margin-bottom: 7px;
}

.popular-hit {
  position: absolute;
  top: 0;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  background-color: #ffffff;
  background-image: url("../img/hit.svg");
}

.popular-price {
  position: absolute;
  left: 0;
  top: 210px;
  display: flex;
}

.popular-price p {
  margin: 0;
  font-size: 45px;
  font-weight: 700;
  line-height: 45px;
  outline: 2px solid blue;
}

.popular-price span {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  outline: 2px solid blue;
}

.popular-item h3 {
  margin: 0;
  padding: 0 7px;
  text-align: center;
}

.popular-item a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.features {
  margin: 0 27px;
  margin-bottom: 40px;
  padding: 25px 0;
  color: #323232;
  background-color: #ebdfc4;
  background-image: url("../img/waffle-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
}

.features-info {
  margin: 0;
  margin-bottom: 22px;
  padding: 0 20px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.features-list li {
  width: 573px;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 75px;
  padding-right: 20px;
}

.features-list li:first-child {
  margin-bottom: 22px;
}

.features-item-1 {
  position: relative;
  order: 0;
}

.features-item-1::before {
  position: absolute;
  content: "";
  left: 20px;
  top: -11px;
  width: 49px;
  height: 49px;
  background-image: url("../img/ice-cream.svg");
}

.features-item-2 {
  position: relative;
  order: 2;
}

.features-item-2::before {
  position: absolute;
  content: "";
  left: 20px;
  top: -11px;
  width: 49px;
  height: 49px;
  background-image: url("../img/leaf.svg");
}

.features-item-3 {
  position: relative;
  order: 1;
}

.features-item-3::before {
  position: absolute;
  content: "";
  left: 15px;
  top: -11px;
  width: 49px;
  height: 49px;
  background-image: url("../img/cow.svg");
}

.features-item-4 {
  position: relative;
  order: 3;
}

.features-item-4::before {
  position: absolute;
  content: "";
  left: 15px;
  top: -11px;
  width: 49px;
  height: 49px;
  background-image: url("../img/thermometer.svg");
}

.block-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 27px;
  margin-bottom: 40px;
}

.blog-news {
  width: 560px;
  box-sizing: border-box;
  padding: 23px 255px 27px 20px;
  background-color: #ffffff;
  background-image: url("../img/strawberry-bg.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
}

.blog-news p {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 500;
}

.blog-news h2 {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: underline;
}

.blog-news a {
  color: #323232;
}

.decor-wrapper {
  width: 560px;
  box-sizing: border-box;
  background-color: #ffffff;
  background-image: repeating-linear-gradient(
  -45deg,
  #92cdff,
  #92cdff 6px,
  #ffffff 6px,
  #ffffff 12px,
  #fe9e90 12px,
  #fe9e90 18px,
  #ffffff 18px,
  #ffffff 24px
  );
  border-radius: 15px;
}

.subscription {
  margin: 5px;
  padding: 30px 21px;
  background-color: #ffffff;
  border-radius: 15px;
}

.subscription-container p {
  margin: 0;
  margin-bottom: 35px;
}

.subscription-form input {
  box-sizing: border-box;
  width: 370px;
  padding: 8px 15px 10px 15px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.button-subscription {
  padding: 13px 21px;
  font-weight: 700;
}

.contacts {
  position: relative;
  margin: 0;
  padding: 63px 0;
  background-color: #ccdfbe;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.contacts::before {
  position: absolute;
  content: "";
  width: 213px;
  height: 142px;
  top: 139px;
  left: 266px;
  background-image: url("../img/marker.png");
}

.contacts-container {
  width: 302px;
  box-sizing: border-box;
  margin-left: 870px;
  padding: 29px 20px 30px 26px;
  background-color: #ffffff;
  border-radius: 15px;
}

.contacts-container p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

.contacts-container p:first-child {
  padding-right: 100px;
}

.contacts-container .contacts-info {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts-container .contacts-info-address {
  margin-bottom: 18px;
}

.contacts-container .contacts-info-tel {
  margin-top: 5px;
}

.button-contacts {
  margin-top: 25px;
  padding: 10px 27px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 27px;
  margin-top: 20px;
}

.footer-social {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-social li {
  margin-left: 10px;
}

.menu-links {
  width: 560px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 0 120px;
  outline: 2px solid red;
}

.menu-links a {
  margin-left: 27px;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
}

.footer-copyright p {
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.footer-copyright span {
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}

.catalog-navigation {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 27px;
}

.catalog-navigation a {
  margin-left: 20px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}

.catalog-navigation .breadcrumbs-current {
  border: 2px solid transparent;
}

.catalog-page h1 {
  margin-bottom: 25px;
  padding: 0 27px;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: 700;
}

.product {
  padding: 0 27px;
}

.product-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.product-item {
  width: 267px;
  margin-bottom: 40px;
  box-sizing: border-box;
}

.item-price {
  color: #ffffff;
  font-weight: 700;
}

.item-price p {
  font-size: 45px;
  line-height: 45px;
}

.item-price span {
  font-size: 30px;
  line-height: 45px;
}

.product-item a {
  color: #ffffff;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}

.pagination-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0 27px;
  padding-bottom: 30px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}

.pagination-item {
  width: 30px;
  height: 30px;
}

.pagination-list  a {
  color: #ffffff;
}
